services:

 db:
   image: mysql:5.7
   ports:
     - "3308:3306"
   environment:
     MYSQL_ROOT_PASSWORD: rootpass
     MYSQL_DATABASE: myapp
     MYSQL_USER: hamza
     MYSQL_PASSWORD: hamzapass

 apachphp:
   build: ./
   ports:
     - "80:80"
   depends_on:
     - db
